name: API report

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

jobs:
  report:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.0

      - name: Setup Node.js
        uses: actions/setup-node@v4.0.4
        with:
          node-version: 20.x

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Check files
        run: ls built

      - name: API report
        run: npm run api-prod

      - name: Show report
        if: always()
        run: cat temp/aiscript.api.md
