name: Lint

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

jobs:
  lint:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.3

      - name: Setup Node.js
        uses: actions/setup-node@v4.0.2
        with:
          node-version: 20.x

      - name: Install dependencies
        run: npm ci

      - name: Lint
        run: npm run lint
